USE [master]
GO
/****** Object:  Database [DEMO]    Script Date: 02/09/2021 19:25:36 ******/
CREATE DATABASE [DEMO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEMO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MT2SQL\MSSQL\DATA\DEMO.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DEMO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MT2SQL\MSSQL\DATA\DEMO_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEMO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEMO]
GO
/****** Object:  User [udemo]    Script Date: 02/09/2021 19:25:36 ******/
CREATE USER [udemo] FOR LOGIN [udemo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [udemo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [udemo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [udemo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [udemo]
GO
/****** Object:  Table [dbo].[tbl_BANGDIEM]    Script Date: 02/09/2021 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_BANGDIEM](
	[MaLop] [varchar](12) NOT NULL,
	[MaSV] [varchar](10) NOT NULL,
	[Diem] [varchar](50) NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_KHOA]    Script Date: 02/09/2021 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_KHOA](
	[MaKhoa] [varchar](8) NOT NULL,
	[TenKhoa] [nvarchar](30) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_LOPHP]    Script Date: 02/09/2021 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LOPHP](
	[MaNV] [int] NULL,
	[MaLop] [varchar](12) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOPHP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_SINHVIEN]    Script Date: 02/09/2021 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_SINHVIEN](
	[MaSV] [varchar](10) NOT NULL,
	[TenSV] [nvarchar](52) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_USER]    Script Date: 02/09/2021 19:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_USER](
	[MaNV] [int] IDENTITY(1001,1) NOT NULL,
	[TenNV] [nvarchar](52) NULL,
	[SDT] [varchar](11) NULL,
	[ChucVu] [int] NULL,
	[MaKhoa] [varchar](8) NULL,
	[TenDN] [varchar](16) NULL,
	[MatKhau] [varbinary](max) NOT NULL,
	[PubKey] [varbinary](max) NULL,
	[PrivKey] [varbinary](max) NULL,
	[WarningStatus] [int] NOT NULL DEFAULT ((0)),
	[Email] [varchar](50) NULL,
	[OptionKey] [varbinary](max) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_BANGDIEM] ([MaLop], [MaSV], [Diem]) VALUES (N'COM101', N'4301123123', N'izzNwCAlJzHAmG4yKcX7Jg==')
INSERT [dbo].[tbl_BANGDIEM] ([MaLop], [MaSV], [Diem]) VALUES (N'COM101', N'4301456456', N'TpTBNNn/UPW/mm27hSMSlQ==')
INSERT [dbo].[tbl_BANGDIEM] ([MaLop], [MaSV], [Diem]) VALUES (N'COM101', N'4402001231', N'i8sVFbtCbfRdKaJlenY8hg==')
INSERT [dbo].[tbl_KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[tbl_KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'TAMLY', N'Tâm lý')
INSERT [dbo].[tbl_LOPHP] ([MaNV], [MaLop], [TenLop]) VALUES (1006, N'COM101', N'Lập trình căn bản')
INSERT [dbo].[tbl_LOPHP] ([MaNV], [MaLop], [TenLop]) VALUES (1006, N'COM202', N'Lập trình nâng cao')
INSERT [dbo].[tbl_LOPHP] ([MaNV], [MaLop], [TenLop]) VALUES (1005, N'TAM101', N'Tâm lý học đại cương')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV]) VALUES (N'4301123123', N'Nguyễn Văn A')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV]) VALUES (N'4301456456', N'Trần Thị B')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV]) VALUES (N'4402001231', N'Trịnh Kim Hoàn')
SET IDENTITY_INSERT [dbo].[tbl_USER] ON 

INSERT [dbo].[tbl_USER] ([MaNV], [TenNV], [SDT], [ChucVu], [MaKhoa], [TenDN], [MatKhau], [PubKey], [PrivKey], [WarningStatus], [Email], [OptionKey]) VALUES (1001, N'Administrator', NULL, 0, N'CNTT', N'admin', 0x65C71632354ABBA01B5D369AF31A77C8, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[tbl_USER] ([MaNV], [TenNV], [SDT], [ChucVu], [MaKhoa], [TenDN], [MatKhau], [PubKey], [PrivKey], [WarningStatus], [Email], [OptionKey]) VALUES (1004, N'Trần', N'', 2, N'CNTT', N'test', 0x65C71632354ABBA01B5D369AF31A77C8, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[tbl_USER] ([MaNV], [TenNV], [SDT], [ChucVu], [MaKhoa], [TenDN], [MatKhau], [PubKey], [PrivKey], [WarningStatus], [Email], [OptionKey]) VALUES (1005, N'Nguyễn Lan Anh', N'03234343', 1, N'TAMLY', N'giaovien2', 0x65C71632354ABBA01B5D369AF31A77C8, 0x774232757670526C50564D5678705A67564B78357075636A3343626F5876323745733349687345483969773D, 0x614746755957356F4D5441774E5141414141414141414141414141414141414141414141414141414145413D, 3, N'lananh@hcmue.edu.vn', 0x6C616E616E68)
SET IDENTITY_INSERT [dbo].[tbl_USER] OFF
ALTER TABLE [dbo].[tbl_BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[tbl_SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[tbl_BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[tbl_LOPHP]  WITH CHECK ADD  CONSTRAINT [FK_LOPHP_USER_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tbl_USER] ([MaNV])
GO
ALTER TABLE [dbo].[tbl_LOPHP] CHECK CONSTRAINT [FK_LOPHP_USER_MaNV]
GO
ALTER TABLE [dbo].[tbl_USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_KHOA_MaKhoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[tbl_KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[tbl_USER] CHECK CONSTRAINT [FK_USER_KHOA_MaKhoa]
GO
USE [master]
GO
